body {
    background: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

h1 {
    color: blue;
}

.show {
    display: block;
}

.hide {
    display: none;
}